<section class="u-align-center u-clearfix u-cookies-consent u-grey-80 u-cookies-consent" id="sec-05e8">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-left-cell u-size-43-md u-size-43-sm u-size-43-xs u-size-46-lg u-size-46-xl u-layout-cell-1">
            <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-1">
              <h3 class="u-align-center-sm u-align-center-xs u-text u-text-1">Cookies &amp; Privacy</h3>
              <p class="u-text u-text-2">Этот сайт использует Cookies файлы для ускорения его работы.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-14-lg u-size-14-xl u-size-17-md u-size-17-sm u-size-17-xs u-layout-cell-2">
            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-container-layout-2">
              <a href="###" class="u-border-2 u-border-black u-btn u-button-confirm u-button-style u-hover-black u-none u-text-black u-btn-1">Принять</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .u-cookies-consent {
      background-image: none;
    }

    .u-cookies-consent .u-sheet-1 {
      min-height: 172px;
    }

    .u-cookies-consent .u-layout-wrap-1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .u-cookies-consent .u-layout-cell-1 {
      min-height: 152px;
    }

    .u-cookies-consent .u-container-layout-1 {
      padding: 30px 60px;
    }

    .u-cookies-consent .u-text-1 {
      font-size: 1.875rem;
      margin: 0 516px 0 0;
    }

    .u-cookies-consent .u-text-2 {
      font-size: 1rem;
      margin: 4px 158px 0 0;
    }

    .u-cookies-consent .u-layout-cell-2 {
      min-height: 152px;
    }

    .u-cookies-consent .u-container-layout-2 {
      padding: 30px 29px 30px 30px;
    }

    .u-cookies-consent .u-btn-1 {
      font-size: 1rem;
      margin: 27px auto 0 0;
      padding: 5px 63px 6px;
    }

    @media (max-width: 1199px) {
      .u-cookies-consent .u-sheet-1 {
        min-height: 131px;
      }

      .u-cookies-consent .u-layout-cell-1 {
        min-height: 125px;
      }

      .u-cookies-consent .u-text-1 {
        margin-right: 362px;
      }

      .u-cookies-consent .u-text-2 {
        margin-right: 5px;
      }

      .u-cookies-consent .u-layout-cell-2 {
        min-height: 126px;
      }

      .u-cookies-consent .u-container-layout-2 {
        padding-left: 9px;
        padding-right: 9px;
      }

      .u-cookies-consent .u-btn-1 {
        margin-top: 0;
        margin-left: auto;
        padding-right: 47px;
        padding-bottom: 6px;
        padding-left: 45px;
      }
    }

    @media (max-width: 991px) {
      .u-cookies-consent .u-sheet-1 {
        min-height: 106px;
      }

      .u-cookies-consent .u-layout-cell-1 {
        min-height: 100px;
      }

      .u-cookies-consent .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
      }

      .u-cookies-consent .u-text-1 {
        margin-right: 217px;
      }

      .u-cookies-consent .u-text-2 {
        font-size: 0.875rem;
        margin-right: 0;
      }

      .u-cookies-consent .u-layout-cell-2 {
        min-height: 100px;
      }
    }

    @media (max-width: 767px) {
      .u-cookies-consent .u-sheet-1 {
        min-height: 174px;
      }

      .u-cookies-consent .u-layout-wrap-1 {
        margin-top: 1px;
        margin-bottom: 1px;
      }

      .u-cookies-consent .u-layout-cell-1 {
        min-height: 105px;
      }

      .u-cookies-consent .u-container-layout-1 {
        padding-right: 0;
        padding-bottom: 20px;
        padding-left: 10px;
      }

      .u-cookies-consent .u-text-1 {
        width: 303px;
        margin-left: auto;
        margin-right: auto;
      }

      .u-cookies-consent .u-text-2 {
        width: auto;
        margin-top: 0;
        margin-left: 50px;
        margin-right: 50px;
      }

      .u-cookies-consent .u-layout-cell-2 {
        min-height: 65px;
      }

      .u-cookies-consent .u-container-layout-2 {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    @media (max-width: 575px) {
      .u-cookies-consent .u-sheet-1 {
        min-height: 172px;
      }

      .u-cookies-consent .u-layout-wrap-1 {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .u-cookies-consent .u-layout-cell-1 {
        min-height: 152px;
      }

      .u-cookies-consent .u-container-layout-1 {
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
      }

      .u-cookies-consent .u-text-1 {
        margin-right: 516px;
        margin-left: 0;
        width: auto;
      }

      .u-cookies-consent .u-text-2 {
        margin-top: 4px;
        margin-right: 158px;
        margin-left: 0;
        width: auto;
      }

      .u-cookies-consent .u-layout-cell-2 {
        min-height: 152px;
      }

      .u-cookies-consent .u-container-layout-2 {
        padding: 30px 29px 30px 30px;
      }

      .u-cookies-consent .u-btn-1 {
        margin-top: 27px;
        margin-left: 0;
        padding-right: 63px;
        padding-bottom: 6px;
        padding-left: 63px;
      }
    }
  </style>
</section>