{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block title %}Пивоварение{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'category.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'card-category.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'preview_image_category.css' %}" media="screen">
{% endblock style %}

{% block content %}
<main>
  {% cache 60 category with category.id images %}
  <section class="content content-section">
    <div class="title_img-div">
      <h2 class="title-h">{{ category.title }}</h2>
      {% if category.title_image.url %}<img src="{{ MEDIA_URL }}{{ category.title_image.url }}">
      {% else %}<img src="{% static 'images/banner.jpeg' %}">{% endif %}
    </div>
  </section>
  {% endcache category %}
  {% if subcategories %}
  {% cache 60 subcategory with subcategory.id %}
  <section class="content-product">
    <div id="wrapper_cards" class="content-row row g-4 row-cols-lg-4 row-cols-3">
      {% for subcategory in subcategories %}
      {% include 'includes/card_category.html' with category=subcategory %}
      {% endfor %}
    </div>
  </section>
  {% endcache subcategory %}
  {% endif %}
</main>
{% endblock content %}