.content-product {
    padding: 10px;
    margin: auto;
    width: 90%;
}
.carousel_image {
    border-radius: 20px;
}
.card-content {
    border-radius: 20px;
    margin: 15px;
    width: 18rem;
}
.card-img {
    border-radius: 20px;
}
.title_card {

}
.description_card {

}
.li_card {

}
.btn_card {

}