{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}Смена пароля{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'sign_form.css' %}">
{% endblock style %}

{% block content %}
<main>
  <form class="form-section" action="{% url 'password_reset' %}" method="POST">
    {% csrf_token %}
    <div class="title-div">
      <h2 class="title-h">Смена пароля</h2>
    </div>
    <div class="fields-div">
      {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id }}" class="label_input form-label">{{ field.label }}</label>
        {{ field|addclass:"input_font form-control" }}
        {% if field.errors %}
        {% for error in field.errors %}<p class="errors-form">Ошибка: {{ error }}</p>{% endfor %}
        {% else %}
        <div class="help_text form-text">{{ field.help_text }}</div>
        {% endif %}
      </div>
      {% endfor %}
      <div class="btn-center" style="display: inline-block">
        <button type="submit" class="btn btn-outline-dark">Сменить</button>
      </div>
    </div>
  </form>
</main>
{% endblock content %}