{% load static %}
{% load cache %}

<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %} | СамогонуралКраснодар</title>

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    {% block style %}{% endblock style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
  </head>

  <body>
    <div id="download-div">
      <div class="spinner-download spinner-grow text-warning" role="status">
        <span class="spinner-download visually-hidden">Загрузка...</span>
      </div>
    </div>
    {% cache 600 header request.user request.user.is_authentication %}
    {% include 'main/header.html' %}
    {% endcache header %}
    <main>
      {% block content %}{% endblock content %}
    </main>
    {% cache 600 footer %}
    {% include 'main/footer.html' %}
    {% endcache footer %}
    <script>const index_url = document.location.protocol + "//" + document.location.hostname + ":" + document.location.port + "/"</script>
    {% block js %}{% endblock js %}
    <script class="u-script" type="text/javascript" src="{% static 'js/search_prod.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/to_order_call.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>

</html>